<div class="w-full min-h-screen space-y-4">
  <header
    class="w-full h-40 md:h-60 flex items-center justify-center bg-lime-700"
  >
    <h1 class="text-5xl md:text-7xl font-bold text-green-100">Food Recipes</h1>
  </header>
  <main class="md:container space-y-4 mx-auto">
    <!-- selection -->
    <div class="flex gap-4 flex-wrap justify-center w-full">
      <div>
        <input
          [(ngModel)]="searchKey"
          type="text"
          class="px-4 py-3 rounded-full border-2 border-lime-700 outline-none"
          placeholder="Search by name"
        />
      </div>

      <div
        class="flex flex-wrap gap-4 items-center select-none rounded-full p-1 bg-lime-700 text-slate-100"
      >
        <label *ngFor="let option of selections" class="">
          <input
            type="radio"
            name="type"
            [value]="option"
            class="peer sr-only"
            checked
          />
          <p
            (click)="sortRecipes(option)"
            class="peer-checked:bg-slate-50 peer-checked:text-green-700 rounded-full px-4 py-2 bg-none"
          >
            {{ option }}
          </p>
        </label>
      </div>
    </div>
    <p class="text-slate-800">
      You have
      <span class="text-slate-800 font-semibold">{{
        allRecipes.length || 0
      }}</span>
      items left
    </p>
    <!-- cards -->
    <div
      class="grid grid-cols-[repeat(auto-fill,_minmax(280px,_1fr))] gap-x-4 gap-y-8 py-4"
    >
      <app-card
        *ngFor="
          let recipe of allRecipes
            | search: searchKey
            | paginate: { itemsPerPage: 5, currentPage: page }
        "
        [recipe]="recipe"
      ></app-card>
    </div>
    <div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </main>
</div>
